/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-light-bg {
  background-color: #ede8f5; /* Light background color */
}

.text-dark-text {
  color: #333; /* Dark text color */
}

/* Sidebar Styling */
.sidebar {
  width: 220px;
  background-color: #7091e6; /* Dark blue background for the sidebar */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3d52a0; /* Slightly lighter blue */
  transition: background-color 0.3s ease;
}

.sidebar li a:hover {
  background-color: #8697c4; /* Lighter shade on hover */
}
/* Main Content Styling */
.main-content {
  margin-left: 240px; /* Adjust to align with the sidebar width */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Header Section */
.dashboard-header {
  background-color: #3d52a0;
  color: #ede8f5;
  text-align: center;
  padding: 15px 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-lg {
  font-size: 1.125rem;
  color: #555; /* Slightly darker gray for the paragraph text */
  margin-bottom: 20px;
}

/* Dashboard Image Styling */
.dashboard-image {
  max-width: 500px;
  padding-top: 25px;
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
