/* App.css */

/* Base Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Mode */
body {
  background-color: #ede8f5;
  color: #3d52a0;
}


/* Navbar Styles */
nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

nav.div{
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 20px;
}

nav.bg-gray-800 {
  background-color: #3d52a0;
}

nav a {
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 15px;
}

nav a:hover {
  color: #8697c4;
}

/* Sidebar Styles */
aside {
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

aside.bg-gray-200 {
  background-color: #f5f5f5;
}

aside.dark {
  background-color: #2a2a3a;
}

aside a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

aside a:hover {
  background-color: #7091e6;
  color: white;
}

aside a.text-blue-600 {
  color: #0056b3;
}

aside a.text-blue-600.dark {
  color: #80d4ff;
}

/* Footer Styles */
footer {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer.bg-gray-800 {
  background-color: #121212;
}

/* Button Styles */
button {
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

button.bg-blue-600 {
  background-color: #3d52a0;
  color: #ede8f5;
}

button:hover {
  background-color: #7091e6;
}

/* General Layout */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}
h1{
  padding-top: 20px;
  padding-left: 10px;
}
p{
  padding-left: 10px;
}
img{
  padding-left: 10px;
  padding-right: 50px;
  margin-right: 40px;
  padding-bottom: 30px;
  padding-top: 20px;
}
div.activity{
  margin-left: 60px;
}
input:hover{
  border-color: #adbbda;
}
div.img{
  margin-left: 100px;
}